@import "../lib/bootstrap/scss/bootstrap";
@import "variables";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
*{font-family:'Montserrat', sans-serif;}
body {
    background-color: #f8f8f8;
}
@import "components/header";
@import "components/projects";
@import "components/footer";
@import "components/about_me";
