    {% include 'partials/head.html.twig' %}
    {% include 'partials/header.html.twig' %}
    {% include 'partials/projects.html.twig' %}
    {% include 'partials/footer.html.twig' %}



    {% include 'partials/scripts.html.twig'%}