

<div class="container-fluid" style="max-width: 1600px">
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-12 col-md-6">
            <div class="icon p-2" style="width: 60px; height: 50px; float:left;">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="title p-2">
                <h3 class="ml-2">Education</h3>
            </div>
            <div class="table_row row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">School</th>
                                <th scope="col">City</th>
                                <th scope="col">Education</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2012 - 2016</th>
                                <td>Saenredam College</td>
                                <td>Zaandijk</td>
                                <td>VMBO Theoretisch</td>
                            </tr>
                            <tr>
                                <th scope="row">2016 - Present</th>
                                <td>Mediacollege</td>
                                <td>Amsterdam</td>
                                <td>Media Developer MBO Niv. 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="icon p-2" style="width: 60px; height: 50px; float:left;">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="title p-2">
                <h3 class="ml-2">Work Experience</h3>
            </div>
            <div class="table_row row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Employer</th>
                                <th scope="col">City</th>
                                <th scope="col">Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Oct 2016 - Feb 2018</th>
                                <td>Albert Heijn Koog</td>
                                <td>Koog a/d Zaan</td>
                                <td>Employee</td>
                            </tr>
                            <tr>
                                <th scope="row">Feb 2018 - Present</th>
                                <td>Growing Minds</td>
                                <td>Amsterdam</td>
                                <td>Intern Full-Stack</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="icon p-2" style="width: 60px; height: 50px; float:left;">
                <i class="fas fa-archive"></i>
            </div>
            <div class="title p-2">
                <h3 class="ml-2">Projects</h3>
            </div>
            <div class="table_row row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Employer</th>
                                <th scope="col">Project</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Feb 2017</th>
                                <td>Digital Safety Solutions</td>
                                <td>DSS Website</td>

                            </tr>
                            <tr>
                                <th scope="row">Feb 2018</th>
                                <td>Audi / Growing Minds</td>
                                <td>A6 Showcase page</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{# <div class="container" style="max-width: 1600px;">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table_row row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Employer</th>
                                            <th scope="col">Project</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Feb 2017</th>
                                            <td>Digital Safety Solutions</td>
                                            <td>DSS Website</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Feb 2018</th>
                                            <td>Audi / Growing Minds</td>
                                            <td>A6 Showcase page</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table_row row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Employer</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Oct 2016 - Feb 2018</th>
                                            <td>Albert Heijn Koog</td>
                                            <td>Koog a/d Zaan</td>
                                            <td>Employee</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Feb 2018 - Present</th>
                                            <td>Growing Minds</td>
                                            <td>Amsterdam</td>
                                            <td>Intern Full-Stack</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="txt">
                            <i class="fas fa-graduation-cap"></i>
                            <h3 class="ml-2 mb-0">Education</h3>
                        </div>

                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table_row row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">School</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Education</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">2012 - 2016</th>
                                            <td>Saenredam College</td>
                                            <td>Zaandijk</td>
                                            <td>VMBO Theoretisch</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2016 - Present</th>
                                            <td>Mediacollege</td>
                                            <td>Amsterdam</td>
                                            <td>Media Developer MBO Niv. 4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> #}