<div style=" margin-top:5em; width: 100%; height: 30em" id="map"></div>
<div class="shape2">
</div>
<div class="contact">
    <div class="container" style="max-width: 1000px;">
        <div class="row justify-content-between">
            <div class="col-12 col-md-3 text-center">
                <img src="public/assets/img/logo.png" class="img-fluid mb-3" style="width: 140px">
                <br>
                <a class="px-2 pt-3 pb-1 social_button" target="_blank" href="https://github.com/Lycan-Gray"><i class="fab fa-github"></i></a>
                <a class="px-2 pt-3 pb-1 social_button" target="_blank" href="https://gitlab.com/Lycan_gray"><i class="fab fa-gitlab"></i></a>
                <a class="px-2 pt-3 pb-1 social_button" target="_blank" href="https://www.linkedin.com/in/peterboersma-lycan/" ><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-12 col-md-9 p-3">
                <h2 style="color: white; font-weight: 100">Contact</h2>
                <form data-abide novalidate>
                <div class="row">
         
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="naam" placeholder="Naam" required data-validator="isEmptyName">
                            <span id="error1" class="form-error"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" required data-validator="email">
                            <span id="error2" class="form-error"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <input type="phone" class="form-control" id="phone" placeholder="Phone">
                            <span id="error3" class="form-error"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea style="background-color: rgb(132, 179, 255); border: 0px; color: white;" class="form-control" id="bericht" placeholder="Message" rows="5" required data-validator="isEmptyBericht"></textarea>
                            <span id="error4" class="form-error"></span>
                        </div>
                    </div>
                </div>
                <div data-abide-error style="display: none;">
                                <div class="alert alert-danger" role="alert">
                                <i class="fas fa-exclamation-triangle"></i> Niet alle velden zijn ingevuld
                                </div>
                        </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="p-3">
    <div class="container text-center">
        <p class="copyright mb-0">&#169; Peter Boersma / Lycan Media 2018. All Rights Reserved.</p>
    </div>
</footer>