<div class="container-fluid p-0 header text-center">
    <div class="header_gradient pt-5">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="d-block d-sm-none" src="public/assets/img/logo.png">
                    <h2 class="d-none d-sm-block"> LYCAN MEDIA</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-smooth-scroll class="nav-link" href="about">ABOUT ME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pt-5 mx-lg-5 mx-3 mb-5">
            <h1>Peter Boersma</h1>
            <h2>Full-Stack Developer</h2>
        </div>
        <div class="container logo_container">
            <img src="public/assets/img/logo.png">
        </div>
    </div>


</div>
<div>
    <div class="about">
        <section id="about"></section>
        <div class="container p-3 py-5 ">
            <h2>About Me</h2>
            <p>Hey, Ik ben Peter en ik ben een
                <strong>Full-Stack developer</strong> uit Nederland. In mijn jeugd was ik altijd al gek op alles wat te maken had
                met computers. Ik vond het altijd al leuk om te kijken hoe computers werkte en maakte ze regelmatig open.
                Toen ik 12 was begon ik met java te experimenteren. Ik kon er niks van maar vondt het altijd leuk om dingen
                door elkaar te gooien en te kijken wat er gebeurde. Pas toen ik 16 was begon ik over mijn toekomst na te
                denken en besloot ik om te beginnen met programeren. Ik begon in september 2016 met mijn opleiding als
                <strong>Applicatie- en Mediaontwikkelaar</strong> en sinds ik ben begonnen heb ik veel dingen geleerd die je hier
                op mijn
                <strong>portfolio</strong> kan vinden </p>
            <br>
            <br> {# TODO: Andere Qualities? Lijkt mij een beetje te! ;P #}
            <hr>
            <div class=" qualities mt-3">
                <div class="row">
                    <div class="col-12 col-md-4 p-3">
                        <i class="fas fa-code mb-3"></i>
                        <h3>Full-Stack Developer</h3>
                        <hr>
                        <p>I love building fully functional websites and webapps</p>
                    </div>
                    <div class="col-12 col-md-4 p-3 ">
                        <i class="fas fa-search mb-3"></i>
                        <h3>Perfectionist</h3>
                        <hr>
                        <p>I won't stop improving my knowledge or websites/webapps</p>
                    </div>
                    <div class="col-12 col-md-4 p-3">
                        <i class="fas fa-graduation-cap mb-3"></i>
                        <h3>Ambitious</h3>
                        <hr>
                        <p>I love learning and messing around with new languages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>