<div class="divid">
    <div class="div_gradient p-5">
        <div class="container text-center">
            <h2>Projects</h2>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="project p-3" >
                <h2 class="mb-4">Audi A6 Showcase One-Pager</h2>
                <hr >
                <div class="row">

                    <div class="col-12 col-md-8">
                        <p>Showcase website voor de Audi A6. Hierbij kun je je aanmelden voor de nieuwsbrief en reviews vinden over de auto.</p>
                        <p>Dit project heb ik gemaakt tijdens mijn stage bij <strong>Growing Minds</strong> in mijn 2de schooljaar op het Mediacollege Amsterdam. Dit project heeft mij ongeveer <strong>1 maand</strong> van mijn stage gekost. Dit is mijn favoriete project tot nu toe omdat ik de kans kreeg om te laten zien wat ik kon in front-end development. Dit project is vaak geupdate omdat Audi steeds weer met nieuwe dingen aankwam. Ik heb de code ook hergebruikt voor hun destijds nieuwe <strong>Audi Q8</strong>
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">HTML5</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">SCSS</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">PHP 7</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Bootstrap 4</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">jQuery</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Ajax</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Foundation Abide</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Grunt</span>
                                </div>
                                  <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">MySQL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="public/assets/img/Frame1.png" class="img-fluid">
                        <div class="row">
                            <div class="col-12 mt-3 text-center">
                                <button onClick="window.open('https://a6.audi.nl/','_blank');" class="button">Bezoek Website</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
              <div class="col-12 col-md-6">
            <div class="project p-3" >
                <h2 class="mb-4">Digital Safety Solutions Official Website</h2>
                <hr >
                <div class="row">

                    <div class="col-12 col-md-8">
                        <p>Officiële Website van Digital Safety Solutions. Showcase voor hun HSE Beveiligings apps.</p>
                        <p>Dit is mijn eerste project die waar ik gebruik maakte van Bootstrap in <strong>Q1 van 2017</strong>. Sindsdien heb ik de site opnieuw gemaakt zodat die up-to-date is voor Bootstrap 4 en jQuery 3. Deze opdracht had ik gemaakt voor Dennis Boersma en Thomas Middel zodat zij hun apps konden tonen en heeft mij ongeveer <strong>1 maand</strong> gekost. Dit project blijf ik altijd waarderen omdat dit toch mijn <strong>eerste project</strong> was waar ik voor betaald werd. Het was niet veel maar ik was er toch heel blij mee.
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">HTML5</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">SCSS</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">PHP 7</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Bootstrap 4</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">jQuery</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Ajax</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Foundation Abide</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Grunt</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="public/assets/img/framedss.png" class="img-fluid">
                        <div class="row">
                            <div class="col-12 mt-3 text-center">
                                <button onClick="window.open('http://www.lycan-media.nl/dss/','_blank');" class="button">Bezoek Website</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {#
    <div class="container-fluid p-0 project">
        <div class="audi">
        </div>
        <div class="project_gradient p-1 p-md-5" style="padding-top: 8em !important;">

            <div class="container" style="max-width: 1400px">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <h2 class="mb-4">Audi A6 Showcase One-Pager</h2>
                        <hr style="background-color:#706f6f">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"
                        </p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">HTML5</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">SCSS</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">PHP</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Bootstrap 4</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">jQuery</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Ajax</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Foundation Abide</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Grunt</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 d-none d-sm-block snapshots">
                        <img class="websiteFrame1 img-fluid" src="public/assets/img/Frame1.png">
                        <img class="websiteFrame2 img-fluid" src="public/assets/img/Frame2.jpg">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid p-0 project dss">
        <div class="project_gradient p-1 p-md-5" style="padding-top: 8em !important;">
            <div class="container" style="max-width: 1400px">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5 d-none d-sm-block snapshots">
                        <img class="websiteFrame1 img-fluid" src="public/assets/img/framedss.png">
                        <img class="websiteFrame2 img-fluid" src="public/assets/img/framedss2.jpg">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="mb-4">Digital Safety Solutions</h2>
                        <hr style="background-color:#706f6f">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"
                        </p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        <div class="row mt-5">

                            <div class="col-12">
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">HTML5</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">SCSS</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">PHP</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">jQuery</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Ajax</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Foundation Abide</span>
                                </div>
                                <div class="lang-tag text-center p-1 m-1">
                                    <span class="lang-tag-txt">Grunt</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div> #}