
    // p {
    //     color: white;
    // }
    // h1 {
    //     z-index: 999 !important;
    //     color: $main-blue;
    //     font-weight: bold;
    // }



    .icon {
        background-color: $primary-color;
        i {
            color: white;
            font-size: 1.5em;
            position: relative;
            top: 20%;
            left: 23%;
          
        }
    }
    .title {
        background-color: #373737;
        width: 90%;
        height: 50px;
        float:left; 
    
        h3 {
            color: white;
            font-weight: 100;
        }
    }
.table_row {
    float:left; 
    width: 100%;
}
