
.contact {
    background-color: $primary-color;
    img {
        background-color: rgb(26, 25, 25);
        padding: 20px;
        border-radius: 100%;
        margin-top: -4em;
    }
    i {
        color: white;
    }
    .alert-danger {
        color: #721c24 !important;
        i{
            color:#721c24;
        }
    }

    .is-invalid-input:not(:focus) {
        background-color: rgb(132, 179, 255);
    }
    input {
        background-color: rgb(132, 179, 255);
        border: 0;
        color: white !important;
    }
    input:focus{
        background-color: rgb(132, 179, 255);
    }
    input::placeholder {
        color: rgb(221, 221, 221);
    }
    textarea{
        color: white;
        resize: none;
        margin-bottom: 16px;
    }
    textarea::placeholder{
        color: rgb(221, 221, 221);
    }
    .btn {
        background-color: rgb(132, 179, 255);
        border: 0;
    }
    .btn-primary:active:focus {
        background-color: rgb(132, 179, 255);
    }
}

#map {
    z-index: -1;
    height: 45em !important;
}

.shape2{
    margin-top: -6em;
    background-image: linear-gradient(to right top, $primary-color 0%, $primary-color 50%, transparent 50%);
    width: 100%;
    height: 5em;
    z-index: 100;
}

.social_button {
    background-color: rgb(132, 179, 255); 
    border-radius: 10%;
    i {
        font-size: 2em; 
    }
}

.social_button:hover {
background-color: rgb(115, 158, 226);
}