.header {
    background-image: url("../img/headerIMG.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    .header_gradient {
        background: linear-gradient(45deg, rgb(97, 147, 226) 0%, rgba(48, 51, 56, 0.45) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: 100%;
        padding-bottom: 10em !important;
        margin: 0;
        h1 {
            color: white;
            font-weight: bold;
            font-size: 4em;
        }
        h2 {
            color: white;
            font-weight: 300;
        }
        h3 {
            color: white;
            font-weight: 300;
        }
        .logo_container img {
            height: 10em
        }
        nav {
            transition: background-color .3s;
            li a {
                font-size: 1.2em;
            }
            .navbar-brand {
                img {
                    height: 2em;
                    float: left;
                    vertical-align: middle;
                }
                h2 {
                    float: left;
                    font-weight: 100;
                    vertical-align: middle;
                    margin: 0;
                }
            }
        }
    }
}

.scrolled {
    transition: background-color .3s;
    background-color: rgba(0, 0, 0, 0.699) !important;
}

.about {
    background-color: #f8f8f8;
    text-align: center;
    height: auto;
    h2 {
        font-weight: bold;
        color: $primary-color;
    }
    p {
        font-size: 1em;
    }
    strong {
        color: $primary-color;
    }
}

@media (max-width: 576px) {
    .about {
        height: auto !important;
        padding-bottom: 3em;
    }
}

.qualities {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    i {
        font-size: 5em;
    }
    h3,
    p {
        font-weight: 300;
    }
    i,
    h3,
    hr {
        color: $primary-color
    }
}

footer {
    background-color: rgb(80, 124, 196);
    .copyright {
        color: white;
        font-weight: bold;
    }
}

.scrollTop {
    position: fixed;
    height: 3em;
    width: 3em;
    color: white;
    background-color: $primary-color;
    border-radius: 100%;
    border: none;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
    display: none;
    i {
        font-size: 2em;
    }
}

.scrollTop:hover {
    transform: scale(1.2);
}

@media (max-width: 576px) {
    .navbar {
        background-color: rgba(32, 32, 32, 0.705) !important;
    }
}