.divid {
    background-image: url("../img/black-and-white-blur-gray-34088.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    width: 100%;
    .div_gradient {
        background: linear-gradient(45deg, rgb(97, 147, 226) 0%, rgba(48, 51, 56, 0.45) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        h2 {
            font-weight: bold;
            color: white;
            font-size: 50px;
            text-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        }
    }
}

.project{
    border-bottom: 1px solid #ecebeb;
    height: auto;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
        h2{
            color:$primary-color;
        }
        p{
            color: #706f6f;
            font-weight: 300;
        }
        hr {
            background-color:#706f6f  
        }
        strong {
            font-weight: bold;
            color: $primary-color;
        }
    }

// .audi {
//     // background-image: url("../img/a6_background.jpg");
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
// }
// .dss {
//     // background-image: url("../img/DSS_Background.png");
//     // background-position: center;
//     // background-repeat: no-repeat;
//     // background-size: cover;
// }
// .websiteFrame1{
//     height: 80%;
//     border: 2px solid white;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
// }
// .websiteFrame2 {
//     border: 2px solid white;
//     position: absolute;
//     height: 60%;
//     margin-left: -10em;
//     margin-top: 8em;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
// }
  .lang-tag {
      background-color: rgb(255, 255, 255); 
      float:left;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  }
  .lang-tag-txt {
    color: $primary-color;
    font-weight: bold;
}
.button {
    color: $primary-color;
    border: 3px solid $primary-color;
    font-weight: bold;
    padding: 8px;
    transition: background-color .5s;
}
.button:hover {
    transition: background-color .5s;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
}